#banner
    .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Epicurei tincidunt at est. Te vel quas eirmod inimicus, integre elaboraret id nam. Per ne clita option quaerendum, admodum periculis ut nec, nobis patrioque theophrastus vix at. Eos ferri habeo laboramus ei. Unum apeirian duo no.

#bottom_cta
    .wrapper
        %h2 Go Ahead
        %br/
        %button= link_to "Join Now", new_user_registration_path